@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EnrollmentSystemUCB.Models.Entities.Student>
<div class="row">
    <div class="col-md-5">
        <h1>LIST OF STUDENTS BRO</h1>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" asp-controller="Student" asp-action="Add">Add Student</a>
    </div>
</div>
<table class="table caption-top">
    <thead>
        <tr>
            <th>ID Num</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Initial</th>
            <th>Course</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.StudFName</td>
                <td>@student.StudLName</td>
                <td>@student.StudMInitial</td>
                <td>@student.StudCourse</td>
                <td>@student.StudYear</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Student" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
