@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<EnrollmentSystemUCB.Models.Entities.Subject>

<style>
    th {
        text-align: center; /* Center text horizontally */
        vertical-align: middle; /* Center text vertically */
    }
    td {
        text-align: center; /* Center text horizontally */
        vertical-align: middle; /* Center text vertically */
    }
</style>

<h1>LIST OF SUBJECTS BRO</h1>
<table class="table caption-top">
    <thead>
        <tr>
            <th class="col-2">Subject Code</th>
            <th class="col-2">Description</th>
            <th class="col-2">Units</th>
            <th class="col-2">Category</th>
            <th class="col-2">Offering</th>
            <th class="col-2">Course</th>
            <th class="col-2">Curriculum Year</th>
            <th class="col-2">Pre-Requisite</th>
            <th class="col-2">Co-Requisite</th>
            <th class="col-4" colspan="2">EDIT</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var subject in Model)
        {
            <tr>
                <td>@subject.SubjectCode</td>
                <td>@subject.SubjectDescription</td>
                <td>@subject.SubjectUnits</td>
                <td>@subject.SubjectCategory</td>
                <td>@subject.SubjectOffering</td>
                <td>@subject.SubjectCourse</td>
                <td>@subject.SubjectCurrYear</td>
                <td>@subject.SubjectPre</td>
                <td>@subject.SubjectCo</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Subject" asp-action="EditSubject" asp-route-id="@subject.SubjectCode">Information</a>
                </td>
                <td>
                    <a class="btn btn-primary">Schedule</a>
                </td>
            </tr>
        }
    </tbody>
</table>